:root {
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}
img {
  max-inline-size: 100%;
}
.slash {
  width: 100%;
  height: 100vh;
  background-color: #0891b2;
  position: absolute;
  top: -32vh;
  z-index: -1;
  transform: skew(0deg, 168deg);
  box-shadow: 0 0 8px rgb(0 0 0/0.6);
}

main {
  margin: 3.5em 5.5em 6.5em;
}
header {
  display: flex;
  align-items: center;
  margin-bottom: 8.5em;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.75rem;
}
h1,
h2,
h3 {
  font-family: "Playfair Display";
  font-weight: 300;
}
.profile {
  box-shadow: 0 0 8px rgb(0 0 0/0.6);
  position: relative;
}

.profile > h1 {
  position: absolute;
  bottom: 0;
  right: 25%;
  text-align: center;
  color: #00006d;
}

.profile > img {
  display: block;
}

header > section {
  box-shadow: 0 0 8px rgb(0 0 0/0.6);
  padding: 2em 3em 2em 1.5em;
  background-color: white;
}

header > section > p {
  font-size: 1.2rem;
  color: darkslategray;
  margin-bottom: 2em;
}

.socials {
  text-align: right;
}
.socials > svg {
  max-width: 35px;
  margin-left: 1.5em;
}
.work-showcase > h2 {
  margin-bottom: 0.4em;
}
.work {
  box-shadow: 0 0 10px rgb(0 0 0/0.4);
}

.work-info {
  padding: 1.5em;
}
.work,
.work-info {
  display: flex;
  flex-direction: column;
}

.work-info-header,
.work-links {
  display: flex;
  align-items: center;
}

.work-info-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.work-info-header > h3 {
  font-size: 1.5rem;
}
.work-links {
  margin-left: 2em;
}

.work-links > :last-child {
  margin-left: 1em;
}

.work-links > svg {
  width: 1.5em;
}

.works {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-template-rows: repeat(auto-fill, 25em);
  column-gap: 45px;
  row-gap: 50px;
}

.screenshot {
  height: 265px;
  background-color: rgb(153, 11, 11);
  display: flex;
  align-items: center;
  justify-content: center;
}

.screenshot > span {
  top: 50%;
  left: 25%;
  width: min-content;
  text-align: center;
  color: whitesmoke;
  font-size: 2.5rem;
  font-family: "Playfair Display";
}

.contact-me > p:first-of-type,
address {
  font-size: 1.4rem;
}

.location {
  margin: 1.5em 0;
}

.phone,
.email {
  display: flex;
  align-items: center;
}

.phone > a,
.email > a {
  margin-left: 0.7em;
  text-decoration: none;
  color: inherit;
}

address svg {
  max-width: 34px;
}

.contact-me {
  padding-right: 2em;
}
.contact-me > .socials {
  text-align: start;
}

.contact-me > .socials > svg {
  margin: unset;
  margin-right: 2em;
  max-width: 45px;
}

.contact-me {
  flex-shrink: 5;
}

footer {
  padding: 3.5em 5.5em 4em;
  background-color: #0891b2;
  color: white;
  display: grid;
  grid-template-columns: 5fr 8fr;
}

footer > img {
  align-self: stretch;
  justify-self: stretch;
  max-width: 100%;
}

@media (max-width: 425px) {
  header {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
  }
  .profile {
    margin: 2em 2em 0;
  }
  .profile > img {
    aspect-ratio: 2/3;
    object-fit: cover;
  }
  main {
    margin: 0;
  }
  header > section > h2 {
    text-align: center;
  }
  header > section {
    box-shadow: unset;
    padding: 2em 3em 2em 1.5em;
    line-height: 1.5;
  }
  .work-showcase > h2 {
    text-align: center;
  }
  .work-showcase {
    margin: 1em;
  }
  .contact-me {
    padding: unset;
    margin: 1em;
  }
  .contact-me > .socials > svg:last-child {
    margin-right: unset;
  }
  footer {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  footer > img {
    max-width: 100%;
    object-position: left center;
  }
  .contact-me > h2,
  .socials,
  .contact-me > .socials {
    text-align: center;
  }
  .contact-me > .socials {
    margin-bottom: 3em;
  }
}

@media (min-width: 426px) and (max-width: 1023px) {
  main {
    margin-top: 11em;
  }
  header {
    display: block;
  }
  header > section > h2 {
    margin-top: 0.9em;
    text-align: center;
  }
  .profile-wrapper {
    float: left;
    position: relative;
    width: 52vmin;
    height: 38vmin;
  }
  .profile {
    position: absolute;
    top: -50%;
    left: -12%;
  }
  .profile > h1 {
    right: -58%;
    top: 5%;
  }
  header .socials {
    display: none;
  }
  footer {
    padding: 3em 2.7em 4em;
    display: flex;
    align-items: center;
  }
  footer > img {
    aspect-ratio: 5/7;
    object-fit: cover;
  }
}
